/* reset css */
:global {
	* {
		box-sizing: border-box;
	}

	body {
		font-size: 24px;
	}

	body,
	ul,
	ol,
	p,
	dl,
	dd,
	form,
	textarea,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	fieldset,
	input {
		margin: 0;
	}

	.placeholder {
		color: #a9a9a9;
	}

	ul,
	ol,
	input,
	button,
	td,
	th,
	fieldset {
		padding: 0;
	}

	ul,
	ol {
		list-style-type: none;
		list-style-position: outside;
	}
	a {
		text-decoration: none;
		color: #2775ff;
		&:focus {
			text-decoration: none;
		}
		&:hover {
			color: #2775ff;
		}
	}

	a img,
	fieldset {
		border: none 0;
	}

	fieldset {
		legend {
			display: none;
		}
	}

	a,
	input,
	button,
	textarea {
		outline: none;
	}

	em,
	i {
		font-style: normal;
	}

	textarea {
		resize: none;
	}

	pre {
		display: inline;
		white-space: normal;
	}
}
